.cardStyle, .container2 {
  width: 90%;
  border: 2px solid #dda0dd;
  border-radius: 15px;
  height: 80%;
  padding: 2%; }

.formRowStyleButton {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 3vh; }

.formRowStyle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row; }

.linkWithoutDecoration:hover {
  text-decoration-color: #dda0dd; }

.textPink {
  color: #dda0dd; }

.footer {
  background-color: #DCE5EA; }

.form-control:focus, .btn:focus {
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none; }

@media screen and (max-width: 1700px) {
  .divCategoria {
    flex: 0 0 33.333333%;
    max-width: 33.333333%; }
  .f-wrap {
    flex-wrap: wrap; } }

.container1 {
  display: flex;
  justify-content: center;
  flex-direction: column; }

.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 70%;
  box-shadow: 6px 6px 10px #333; }
  .container2 a:nth-child(2) {
    color: #dda0dd;
    margin-top: 1rem; }
    .container2 a:nth-child(2):hover {
      color: #D883D8; }

.container3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .container3 input {
    text-align: center;
    background-color: #dda0dd;
    border-radius: 500px;
    color: white;
    margin-top: 1.5rem; }
    .container3 input:hover {
      color: white;
      background-color: #D883D8; }

h1 {
  display: flex;
  justify-content: center;
  margin: 3rem 0; }
