@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

@mixin flexRowPersonalized($justify, $align) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: row;
}

@mixin flexColumnPersonalized($justify, $align) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: column;
}