@mixin flexCenterRow() {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

@mixin flexCenterColumn() {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@mixin flexCenterNoAlignRow() {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

@mixin flexCenterNoAlignColumn() {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

@mixin flexRowPersonalized($justify, $align) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: row;
}

@mixin flexColumnPersonalized($justify, $align) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: column;
}