$mediumPink: #D883D8;
$lightPink: #E7BEE7;
$mainPink: #dda0dd;
$pink: #D66584;

$mainGrey: #cbe0e9;
$lightGrey: #DCE5EA;
$mediumGrey: #B9CCD5;

@mixin btnPink() {
    color: $mainPink;

    &:hover {
        color: $mediumPink;
    }
}

@mixin btnPinkPill() {
    text-align: center;
    background-color: $mainPink;
    border-radius: 500px;
    color: white;

    &:hover {
        color: white;
        background-color: $mediumPink;
    }
}

@mixin btnSearch() {
    background-color: $mainPink;
    width: 10%;
    height: calc(1.5em + .75rem + 2px);
    align-items: start;
    margin-left: 1%;

    &:hover {
        background-color: $mediumPink;
    }
}

.linkWithoutDecoration {
    &:hover {
        text-decoration-color: $mainPink;
    }
}

.textPink {
    color: $mainPink;
}

.footer {
    background-color: $lightGrey;
}

.form-control:focus, .btn:focus {
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

@media screen and (max-width: 1700px) {
    .divCategoria {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
    .f-wrap {
        flex-wrap: wrap;
    }
}