$mediumPink: #C7627E;
$lightPink: #EFA6B4;
$mainPink: #D66584;
$pink: #D66584;

$mainGrey: #DFE6ED;
$lightGrey: #EDEDED;
$mediumGrey: #9D9D9D;

@mixin btnPink() {
    color: $mainPink;

    &:hover {
        color: $mediumPink;
    }
}

@mixin btnPinkPill() {
    text-align: center;
    background-color: $mainPink;
    border-radius: 500px;
    color: white;

    &:hover {
        color: white;
        background-color: $mediumPink;
    }
}

@mixin btnSearch() {
    background-color: $mainPink;
    width: 10%;
    height: calc(1.5em + .75rem + 2px);
    align-items: start;
    margin-left: 1%;

    &:hover {
        background-color: $mediumPink;
    }
}

@mixin textPink() {
    color: $mainPink;
}