.headerPersonalized {
  height: 9vh;
  background-color: #EDEDED; }

.btnPink {
  color: #C7627E; }
  .btnPink:hover {
    color: #D073DE; }

.btnPinkPill {
  text-align: center;
  background-color: #C7627E;
  border-radius: 500px;
  color: white; }
  .btnPinkPill:hover {
    color: white;
    background-color: #D073DE; }
