.linkWithoutDecoration:hover {
  text-decoration-color: #dda0dd; }

.textPink {
  color: #dda0dd; }

.footer {
  background-color: #DCE5EA; }

@media screen and (max-width: 1700px) {
  .divCategoria {
    flex: 0 0 33.333333%;
    max-width: 33.333333%; }
  .f-wrap {
    flex-wrap: wrap; } }

.flexCenterRow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; }

.flexCenterColumn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.headerPersonalized {
  height: 10vh;
  background-color: #DCE5EA; }
  .headerPersonalized:first-child {
    height: 15vh; }

.btnPink {
  color: #dda0dd; }
  .btnPink:hover {
    color: #D883D8; }
  .btnPink:focus {
    border: none;
    outline: none; }

.btnPinkPill {
  text-align: center;
  background-color: #dda0dd;
  border-radius: 500px;
  color: white; }
  .btnPinkPill:hover {
    color: white;
    background-color: #D883D8; }

.ContainerPersonalized {
  margin: 0 50px;
  padding: 0 15px; }
