@import "./FlexHelper.scss";
@import "./Geral.scss";

.headerPersonalized {
    height: 10vh;
    background-color: $mainGrey;
    &:first-child {
        height: 15vh;
    }
}

.btnPink {
    @include btnPink();
}

.btnPinkPill {
    @include btnPinkPill();
}

.ContainerPersonalized {
    margin: 0 50px;
    padding: 0 15px;
}
