.headerPersonalized {
  height: 10vh;
  background-color: #DFE6ED; }
  .headerPersonalized:first-child {
    height: 15vh; }

.btnPink {
  color: #C7627E; }
  .btnPink:hover {
    color: #D073DE; }

.btnPinkPill {
  text-align: center;
  background-color: #C7627E;
  border-radius: 500px;
  color: white; }
  .btnPinkPill:hover {
    color: white;
    background-color: #D073DE; }

.ContainerPersonalized {
  margin: 0 50px;
  padding: 0 15px; }
