.container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 60vh;
  margin: 3rem 0 0 0; }

.container2-1 {
  display: flex;
  justify-content: center;
  flex-direction: column; }

.container2-2 {
  display: flex;
  justify-content: center;
  flex-direction: column; }
