<footer class="border-top footer text-muted flexCenterRow">
    <div class="d-flex col-12 m-auto">
        <div class="flexCenterRow col-4">
            <a class="flexCenterRow" href="https://www.instagram.com/_made4pet/" target="_blank">
                <img src="~/img/icons/instagram.png" width="18" />
                <h6 class="mx-2 mb-0">instagram</h6>
            </a>
            <a class="flexCenterRow" href="#">
                <img src="~/img/icons/facebook.png" width="18" />
                <h6 class="mx-2 mb-0">facebook</h6>
            </a>
        </div>
        <div class="flexCenterRow col-4">
            <img src="~/img/written-logo.png" width="100" />&copy; 2021
        </div>
        <div class="col-4 flexCenterColumn">
            <a class="flexCenterColumn linkWithoutDecoration" asp-action="cadastroPrestador" asp-controller="estabelecimento">
                <h6 class="textPink mb-0">Seja um prestador!</h6>
                <img src="~/img/Casinha.png" width="50" />
            </a>
        </div>
    </div>
</footer>