<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Made_4_Pet</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/LayoutDeslogado.css" />
</head>
<body>
    <header>
        <nav class="headerPersonalized navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
            <div class="d-flex justify-content-between w-100 align-items-center">
                <div class="m-0 p-0">
                    <a class="navbar-brand col-4" asp-controller="Home" asp-action="Index"><img src="~/img/logo-provisorio.jpg" width="80" /></a>
                </div>
                <div class="d-flex flex-row justify-content-center">
                    <a class="btn btnPink" asp-action="Login" asp-controller="home">Criar conta</a>
                    <a class="btn btnPinkPill" asp-action="Cadastrar" asp-controller="estabelecimento">Entrar</a>
                </div>
            </div>
        </nav>
    </header>
    <div class="ContainerPersonalized">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <!--
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Made_4_Pet - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
