@model Estabelecimento

<div class="form-row d-flex flex-row justify-content-between">
    <div class="col-6">
        <label asp-for="Nome"></label>
        <div>
            <input asp-for="Nome" class="form-control mb-2">
            <span asp-validation-for="Nome" class="text-danger mb-3" style="text-align: center"></span>
        </div>
    </div>
    <div class="col-6">
        <label asp-for="Email"></label>
        <div>
            <input asp-for="Email" class="form-control mb-2">
            <span asp-validation-for="Email" class="text-danger mb-3" style="text-align: center"></span>
        </div>
    </div>
</div>
<div class="form-row d-flex flex-row justify-content-between">
    <div class="col-12">
        <label asp-for="Foto"></label>
        <div>
            <input asp-for="Foto" class="form-control mb-2" />
            <span asp-validation-for="Foto" class="text-danger mb-3" style="text-align: center"></span>
        </div>
    </div>
</div>
<div class="form-row d-flex flex-row justify-content-between">
    <div class="col-6">
        <label asp-for="Telefone"></label>
        <div class="d-flex flex-column">
            <input asp-for="Telefone" class="form-control mb-2" id="tel">
            <span asp-validation-for="Telefone" class="text-danger mb-3" style="text-align: center"></span>
        </div>
    </div>
    <div class="col-6">
        <div class="mx-auto mb-2">
            <label asp-for="CNPJ"></label>
            <input asp-for="CNPJ" class="form-control mb-2" id="cnpj">
            <span asp-validation-for="CNPJ" class="text-danger mb-2" style="text-align: center"></span>
        </div>
    </div>
</div>
<div class="form-row d-flex flex-row justify-content-between">
    <div class="col-12 mb-2">
        <label>Serviços oferecidos</label>
        <div class="d-flex justify-content-between f-wrap">
            @foreach (var c in ViewBag.categorias)
            {
                <div>
                    <input name="categorias" type="checkbox" value="@c" id="@c" />
                    <label for="@c">@c</label>
                </div>                
            }
            <span asp-validation-for="Categorias" class="text-danger mb-3" style="text-align: center"></span>
        </div>
    </div>
</div>
<input asp-for="Agenda" type="hidden" />
<div class="flexCenterRow justify-content-between mb-3">
    <div class="col-6 horaAbertura" style="display: none">
        <label asp-for="HoraAbertura"></label>
        <div class="d-flex justify-content-between">
            <input asp-for="HoraAbertura" class="form-control ml-3" />
            <span asp-validation-for="HoraAbertura" class="text-danger mb-3" style="text-align: center"></span>
        </div>
    </div>
    <div class="col-6 horaFechamento" style="display: none">
        <label asp-for="HoraFechamento"></label>
        <div class="d-flex justify-content-between">
            <input asp-for="HoraFechamento" class="form-control ml-3" />
            <span asp-validation-for="HoraFechamento" class="text-danger mb-3" style="text-align: center"></span>
        </div>
    </div>
</div>

<br />
<h5>Endereço</h5>
<div class="form-row d-flex flex-row justify-content-between">
    <div class="col-3">
        <label asp-for="Endereco.CEP"></label>
        <input asp-for="Endereco.CEP" class="form-control mb-2" id="cep">
        <span asp-validation-for="Endereco.CEP" class="text-danger mb-2" style="text-align: center"></span>
    </div>
    <div class="col-4">
        <label asp-for="Endereco.Bairro"></label>
        <input asp-for="Endereco.Bairro" class="form-control mb-2">
        <span asp-validation-for="Endereco.Bairro" class="text-danger mb-2" style="text-align: center"></span>
    </div>
    <div class="col-5">
        <label asp-for="Endereco.Cidade"></label>
        <input asp-for="Endereco.Cidade" class="form-control mb-2">
        <span asp-validation-for="Endereco.Cidade" class="text-danger mb-2" style="text-align: center"></span>
    </div>
</div>
<div class="form-row d-flex flex-row justify-content-between">
    <div class="col-7">
        <label asp-for="Endereco.Logradouro"></label>
        <input asp-for="Endereco.Logradouro" class="form-control mb-2">
        <span asp-validation-for="Endereco.Logradouro" class="text-danger mb-2" style="text-align: center"></span>
    </div>
    <div class="col-2">
        <label asp-for="Endereco.Numero"></label>
        <input asp-for="Endereco.Numero" class="form-control mb-2">
        <span asp-validation-for="Endereco.Numero" class="text-danger mb-2" style="text-align: center"></span>
    </div>
    <div class="col-3">
        <label asp-for="Endereco.Complemento"></label>
        <input asp-for="Endereco.Complemento" class="form-control mb-2">
        <span asp-validation-for="Endereco.Complemento" class="text-danger mb-2" style="text-align: center"></span>
    </div>
</div>
<script type="text/javascript">
    var TelMaskBehavior = function (val) {
        return val.replace(/\D/g, '').length === 11 ? '(00) 00000-0000' : '(00) 0000-00009';
    },
        TelOptions = {
            onKeyPress: function (val, e, field, options) {
                field.mask(TelMaskBehavior.apply({}, arguments), options);
            }
        };
    $('#tel').mask(TelMaskBehavior, TelOptions);
    $("#cep").mask("00000-000");
    $('#cnpj').mask('00.000.000/0000-00', { reverse: true });


    var categorias = document.getElementsByName("categorias");
    document.addEventListener('click', () => {
        for (var i in categorias) {
            var c = categorias[i].value;
            if (c == "Banho e Tosa" && categorias[i].checked) {
                console.log("eai");
                document.querySelector(".horaAbertura").style = "display: inherit";
                document.querySelector(".horaFechamento").style = "display: inherit";
            } else if (c == "Banho e Tosa" && !categorias[i].checked) {
                console.log("boi");
                document.querySelector(".horaAbertura").style = "display: none";
                document.querySelector(".horaFechamento").style = "display: none";
            }
        }
    })

</script>