@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<link href="~/css/IndexEstab.css" rel="stylesheet" />

@{
    ViewData["title"] = "Listagem";
    if (HttpContextAccessor.HttpContext.Session.Get("UserSession") != null) { Layout = "_LayoutLogado"; }
}

<div class="h-100 w-100 flexCenterColumn">
    <div class="divSchedule flexRowPersonalized col-10 h-50">
        <img src="~/img/estabs/villa-pet.png" class="col-5 imgEstab" />
        <div class="col-5 flexCenterRow flex-wrap">
            @if (ViewBag.horarios.Count == 0)
            {
                <h5 class="text-center">Desculpe, estamos sem disponibilidade de agendamento para o dia escolhido!</h5>
            }
            else
            {
                <p class="col-4 scheduleParagraph">Teste</p>
                <p class="col-4 scheduleParagraph">Teste</p>
                <p class="col-4 scheduleParagraph">Teste</p>
                <p class="col-4 scheduleParagraph">Teste</p>
                <p class="col-4 scheduleParagraph">Teste</p>
                <p class="col-4 scheduleParagraph">Teste</p>
                <p class="col-4 scheduleParagraph">Teste</p>
                <p class="col-4 scheduleParagraph">Teste</p>
                <p class="col-4 scheduleParagraph">Teste</p>
            }
        </div>
    </div>
    <div class="divInfo flexCenterRow h-50 col-10">
        <div class="col-6 flexCenterColumn">
            <h4 class="textPink">Banho e Tosa</h4>
            <h5>na</h5>
            <h4 class="textPink">Villa PetShop</h4>
        </div>
        <div class="col-6 flexCenterColumn">
            <h5 class="textPink">Contato Villa PetShop</h5>
            <h6>(11) 95849-0234</h6>
        </div>
    </div>
</div>
