@model Cliente

<div class="form-row d-flex flex-row justify-content-around">
    <div style="width: 45%;">
        <label asp-for="Nome"></label>

        <div class="d-flex flex-column">
            <input asp-for="Nome" class="form-control mb-2">
            <span asp-validation-for="Nome" class="text-danger mb-3" style="text-align: center"></span>
        </div>
    </div>
    <div style="width: 45%;">
        <label asp-for="CPF"></label>
        <div class="d-flex flex-column">
            <input asp-for="CPF" class="form-control mb-2">
            <span asp-validation-for="CPF" class="text-danger mb-3" style="text-align: center"></span>
        </div>
    </div>
</div>
<div class="form-row d-flex flex-row justify-content-around">
    <div style="width: 55%;">
        <label asp-for="Telefone"></label>
        <div class="d-flex flex-column">
            <input asp-for="Telefone" class="form-control mb-2">
            <span asp-validation-for="Telefone" class="text-danger mb-3" style="text-align: center"></span>
        </div>
    </div>
    <div style="width: 35%;">
        <label asp-for="Endereco"></label>
        <input asp-for="Endereco" class="form-control mb-2">
        <span asp-validation-for="Endereco" class="text-danger mb-2" style="text-align: center"></span>
    </div>
</div>

<div class="form-row d-flex flex-row justify-content-around">
    <div style="width: 47%;">
        <div class="mx-auto mb-2" style="width: 96%;">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control mb-2">
            <span asp-validation-for="Email" class="text-danger mb-2" style="text-align: center"></span>
        </div>
    </div>
    <div style="width: 47%;">
        <div class="mx-auto mb-2" style="width: 96%;">
            <label asp-for="Senha"></label>
            <input asp-for="Senha" class="form-control mb-2">
            <span asp-validation-for="Senha" class="text-danger mb-2" style="text-align: center"></span>
        </div>
    </div>
</div>
