@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Cadastro de cliente";
    if (HttpContextAccessor.HttpContext.Session.Get("UserSession") != null) { Layout = "_LayoutLogado"; }
}

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Wendy+One&display=swap" rel="stylesheet">
<link href="~/css/CadastroCliente.css" rel="stylesheet" />

<div class="container1">
    <Feedback Texto="@TempData["Erro"]" is-error="true"></Feedback>
    <Feedback Texto="@TempData["Sucesso"]"></Feedback>
    <h1>Cadastro de cliente</h1>
    <div class="card mx-auto container2">
        <form asp-action="Cadastro" class="p-3 border-bottom">
            <partial name="_FormCreateUpdateCliente" />
            <div class="container3">
                <input type="submit" value="Salvar cadastro" class="btn px-5" />
                <a asp-action="index" asp-controller="home" class="btn px-5">Cancelar</a>
            </div>
        </form>
        <a asp-action="login">Já tem uma conta? Realize login clicando aqui!</a>
    </div>
</div>
