@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Página inicial";
    if (HttpContextAccessor.HttpContext.Session.Get("UserSession") != null) { Layout = "_LayoutLogado"; }
}
<link rel="stylesheet" href="~/css/TelaInicial.css" />


<div class="d-flex flex-column w-100 h-100">
    <feedback texto="@TempData["Erro"]" is-error="true"></feedback>
    <feedback texto="@TempData["Sucesso"]"></feedback>
    <div class="container1">
        <div class="container2-1">
            <p class="h1 text-center h1Form">Do que você precisa hoje?</p>
            <form asp-action="ProcuraPorServico" asp-controller="Estabelecimento" class="col-12 form">
                <input name="nomeBusca" class="form-control" id="pesquisa" placeholder="Procurar estabelecimento por Nome, Bairro ou Rua" />
                <button type="submit" class="btn p-0 col-1">
                    <span class="material-icons">
                        search
                    </span>
                </button>
            </form>
            <div class="divLink">
                <form asp-controller="Estabelecimento" asp-action="ProcuraPorServico">
                    <input name="categoria" value="banhoETosa" type="hidden" />
                    <button type="submit" style="background-color: ghostwhite; border: 0 solid black">
                        <img src="~/img/banhoETosa.png" />
                        <p class="h3 text-center">Banho e tosa</p>
                    </button>
                </form>
                <form asp-controller="Estabelecimento" asp-action="ProcuraPorServico">
                    <input name="categoria" value="saude" type="hidden" />
                    <button type="submit" style="background-color: ghostwhite; border: 0 solid black">
                        <img src="~/img/saude.png" />
                        <p class="h3 text-center">Saúde</p>
                    </button>
                </form>
                <form asp-controller="Estabelecimento" asp-action="ProcuraPorServico">
                    <input name="categoria" value="crecheEHotel" type="hidden" />
                    <button type="submit" style="background-color: ghostwhite; border: 0 solid black">
                        <img src="~/img/crecheHotel.png" />
                        <p class="h3 text-center">Creche e hotel</p>
                    </button>
                </form>
            </div>
        </div>
        <div class="container2-2">
            <img src="~/img/Dog.png" class="dogImage" />
        </div>
    </div>
</div>