@{
    ViewData["Title"] = "Tela inicial";
}

<link rel="stylesheet" href="~/css/TelaInicial.css" />


<div class="d-flex w-100 h-100">
    <div class="d-flex justify-content-center">
        <div class="d-flex justify-content-center flex-column">
            <p class="h1">Do que você precisa hoje?</p>
        </div>
        <div></div>
    </div>
    <div>
        <div></div>
        <div></div>
        <div></div>
    </div>

</div>