@{
    ViewData["Title"] = "Tela inicial";
}

<link rel="stylesheet" href="~/css/TelaInicial.css" />


<div class="d-flex flex-column w-100 h-100">
    <div class="container1">
        <div class="container2-1" >
            <p class="h1 text-center h1Form">Do que você precisa hoje?</p>
            <form class="col-12 form">
                <input name="nome" class="form-control" id="pesquisa" placeholder="Procurar item por nome"/>
                <button type="submit" class="btn p-0 col-1">
                    <span class="material-icons">
                        search
                    </span>
                </button>
            </form>
            <div class="divLink">
                <a>
                    <img src="~/img/banhoETosa.png"/>
                    <p class="h3 text-center">Banho e tosa</p>
                </a>
                <a>
                    <img src="~/img/saude.png"/>
                    <p class="h3 text-center">Saúde</p>
                </a>
                <a>
                    <img src="~/img/crecheHotel.png"/>
                    <p class="h3 text-center">Creche e hotel</p>
                </a>
            </div>
        </div>
        <div class="container2-2">
            <img src="~/img/Dog.png" class="dogImage" />
        </div>
    </div>
</div>